.main_text{
    font-family: Roboto;
    text-align: justify;
  }
  .main_title{
    font-family: 'Century Gothic';
    text-align: center;
    font-style: regular;
    box-shadow: 1px 1px 0.10px rgba(0, 0, 0, 0.15);
    background-color: rgb(4, 72, 139);
    color: rgb(30, 199, 255);
    text-shadow: 1px 1px 10px rgba(3, 143, 260, 0.60);
    transition: padding 0.3s;
    font-size: 60px;
  }
  .main_title:hover{
    padding: 6px;
  }